@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole("Customer"))
    {
        <li><a asp-area="" asp-controller="Appointment" asp-action="Index">Appointment</a></li>
        <li><a asp-area="" asp-controller="Credits" asp-action="Index">Credits</a></li>
        <li><a asp-area="" asp-controller="Sales" asp-action="Index">Sales</a></li>
    }
    @if (User.IsInRole("Employee"))
    {
        <li><a asp-area="" asp-controller="CurWage" asp-action="Index">Current Wage</a></li>
        <li><a asp-area="" asp-controller="Work" asp-action="Index">Work Hours</a></li>
        <li><a asp-area="" asp-controller="Salary" asp-action="Index">Salary</a></li>
    }
</ul>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
